footer{
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	color: #C6C6C6;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding-left: 5%;
	padding-right: 5%;
}

footer span.active {
	color: rgb(255, 86, 94);
}