body {
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

.container {
  background-color: rgba(126, 116, 247, 1);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container > div:nth-child(1) {
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url(https://media.pitchfork.com/photos/60b301b8b6c076ed126cc642/16:9/w_1280,c_limit/LanaDelRey_GettyImages-1202161935.jpg);
  background-position-x: center;
  background-size: cover;
}
.row {
  width: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
svg.dot {
  position: absolute;
  top: 7px;
  left: 18px;
}
svg.sound {
  transform: rotate(-30deg);
}

.october {
  width: 200px;
  height: 10%;
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.october svg {
  vertical-align: middle;
}
button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
}

/*DATES*/
.container__for-dates {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
/*убираем ленту скролла*/
.container__for-dates::-webkit-scrollbar {
  width: 0;
}
.data {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 15px;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.data > div {
  width: 20.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.data > div:nth-child(1) {
  font-weight: bold;
  font-size: 24px;
}
.data.today {
  background-color: rgba(255, 255, 255, 1);
  color: gray;
}

/*FOR ITEMS*/
.container__for-items {
  background-color: white;
  width: 100%;
  height: 50vh;
  overflow-x: auto;
  border-radius: 55px 55px 0 0;
  z-index: 1;
  border: none;
}
div.vertical {
  position: absolute;
  top: calc(40vh + 15vh);
  left: calc(10vw + 8.4px);
  height: 29%;
  border-right: 2px gray dashed;
  z-index: 2;
}
div.header-item {
  height: 20%;
  background-color: rgba(248, 248, 250, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
}
div.header-item div {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
input > path {
  z-index: 100;
}
div.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding: 0 10vw;
}
.container__for-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 52%;
  z-index: 2;
}
.grey {
  background-color: rgba(248, 248, 250, 1);
}
.white {
  background-color: white;
}
.task {
  width: 60%;
}
.task div:first-child {
  font-weight: bold;
}
.task div:last-child {
  padding-top: 5px;
  font-size: 13px;
  color: gray;
}
.time {
  font-size: 14px;
  color: gray;
}

/*CHECKBOX*/
.unchecked,
.checked {
  display: none;
}
div.unchecked,
div.checked {
  display: none;
}
input:checked ~ .checked {
  display: inline;
}
input:not(:checked) ~ .unchecked {
  display: inline;
}
.time-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
}

/*FOOTER*/
.footer {
  background-color: white;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
}
.footer svg {
  vertical-align: middle;
}
