body{
  margin: 0;
  padding: 0;
  background: rgb(230, 228, 228);
  font-family:  'Open Sans', sans-serif ;
}


.btn__header{
  display: flex;
  justify-content: space-around;
   width: 760px;
  margin: 15px auto;
  
}

.btn__plus{
  padding: 10px 10px;
  border-radius: 50px;
  border: 2px solid #999898;
  font-size: 25px;
  cursor: pointer;
  font-family:  'Open Sans', sans-serif ;

}

.timer{
  margin: 50px ;
  font-size: 100px;
  text-align: center;
  padding: 20px 5px;
  background: #fff;  
}

.btn__footer{
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  width: 1200px;
}

.btn__min{
  border: 2px solid #999898;
  border-radius: 50px;
  font-size: 25px;
  padding: 10px 10px;
  cursor: pointer;
  font-family:  'Open Sans', sans-serif ;
  
}



.control{
  display: flex;
  justify-content: space-around;
  border: none;
  padding-top: 30px;
  width: 760px;
  margin: 0 auto;
}

.timer__play{
   border: none;
   border-radius: 15px;
   background: rgb(91, 184, 171);
}

.timer__stop{
  border: none;
  border-radius: 15px;
  background: rgb(236, 129, 129);
}

.timer__replay{
  border: none;
  border-radius: 15px;
  background: rgb(89, 153, 236);
}

.material-icons {
  font-family   : 'Material Icons';
  font-size     : 100px;
  display       : inline-block;
  line-height   : 1;
  padding: 15px;
  text-transform: none;
  color         : rgb(255, 255, 255);
  cursor: pointer;
}