@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;700&display=swap");

body {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  height: 100vh;
}

.container {
  max-width: 1240px;
  height: 100vh;
  margin: 0 auto;
  background: -webkit-linear-gradient(135deg, rgb(154, 160, 207) 18%, rgb(106, 82, 182) 78%);
  background: -moz-linear-gradient(135deg, rgb(154, 160, 207) 18%, rgb(106, 82, 182) 78%);
  background: linear-gradient(135deg, rgb(154, 160, 207) 18%, rgb(106, 82, 182) 78%);
}

.header {
  display: flex;
  align-items: center;
  height: 20%;
  padding: 0 15px;
}

.header__hamburger {
  display: inline-block;
  cursor: pointer;
}
.space {
  flex-grow: 1;
}
#bell {
  font-size: 50px;
  transform: rotate(-45deg);
  color: white;
  margin-right: 30px;
}
@media screen and (max-width: 1000px) {
  #bell {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  #bell {
    font-size: 24px;
  }
}
#bell:before {
  content: attr(item-count);
  display: block;
  position: absolute;
  right: 0;
  border: 2px solid white;
  background: red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  #bell::before {
    width: 8px;
    height: 8px;
  }
}
@media screen and (max-width: 768px) {
  #bell::before {
    width: 5px;
    height: 5px;
  }
}
.header__img {
  width: 100px;
  height: 100px;
  background-image: url("./img/IMG_5960.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .header__img {
    width: 60px;
    height: 60px;
  }
}

.header__hamburger div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.change .item1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .item2 {
  opacity: 0;
}

.change .item3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.main {
  height: 80%;
}

.main__logo {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 0 15px;
}

.main-logo__text {
  color: white;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .main-logo__text {
    font-size: 24px;
  }
}

.main-logo__btn {
  display: flex;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.9s;
}
@media screen and (max-width: 768px) {
  .main-logo__btn {
    height: 20px;
    width: 20px;
  }
}
.main-logo__btn:hover {
  opacity: 1;
}

#arrow {
  color: black;
}
.main__days {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  column-gap: 10px;
}

@media screen and (max-width: 768px) {
  .main__days {
    column-gap: 5px;
  }
}

.main-days__item {
  min-width: 300px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .main-days__item {
    min-width: 77px;
  }
}
.active {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-days__item > h3 {
  font-size: 24px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .main-days__item > h3 {
    font-size: 16px;
  }
}

.main-days__item > p {
  font-size: 36px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .main-days__item > p {
    font-size: 24px;
  }
}

.task-container {
  height: 50%;
  background-color: white;
  border-radius: 25px 25px 0 0;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.task-container__header {
  display: flex;
  width: 100%;
  align-items: center;
  height: 20%;
}

.task-container__hamburger {
  width: 50px;
  display: flex;
  height: 25px;
}

h2 {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: bold;
  margin: 0 5px;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: gray;
  margin-left: 2px;
}
.task-container__items {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
}

.item {
  width: 100%;
  display: flex;
  height: 25%;
  align-items: center;
}
.status {
  background-color: rgb(24%, 91%, 8%, 0.5);
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yellow {
  background-color: rgba(204, 232, 21, 0.5);
}
.grey {
  border: 2px solid gray;
  background-color: white;
}
#complete,
#complete_1,
#clock {
  font-size: 15px;
}

.title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.title p {
  margin: 0;
  font-weight: bold;
}
.title__span {
  font-size: 12px;
}
.time {
  font-size: 16px;
}

.footer {
  height: 20%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.item-menu {
  width: 30px;
  height: 30px;
  /* background-color: red; */
  background-repeat: no-repeat;
  background-size: cover;
}
.home {
  background-image: url("./img/house_black_24dp.svg");
}
.menu {
  background-image: url("./img/format_list_numbered_rtl_black_18dp.svg");
}
.analysis {
  background-image: url("./img/analysis_analytics_business_chart_diagram_graph_pie_chart_icon_123248.svg");
}
#men {
  color: brown;
  width: 30px;
}
